{% set redis = salt['grains.filter_by']({

    'Ubuntu-12.04': {
      'save': True,
      'save_intervals': [ '900 1', '300 10', '60 10000' ],
      'client_output_buffer_limit': False,
      'client_output_buffer_limit_sections': [],
      'configuration': {
        'daemonize': 'yes',
        'pidfile': '/var/run/redis/redis-server.pid',
        'port': '6379',
        'bind': '0.0.0.0',
        'timeout': '300',
        'loglevel': 'notice',
        'logfile': '/var/log/redis/redis-server.log',
        'databases': '16',
        'rdbcompression': 'yes',
        'dbfilename': 'dump.rdb',
        'dir': '/data/redis',
        'slave-serve-stale-data': 'yes',
        'appendonly': 'no',
        'appendfsync': 'everysec',
        'no-appendfsync-on-rewrite': 'no',
        'vm-enabled': 'no',
        'vm-swap-file': '/var/lib/redis/redis.swap',
        'vm-max-memory': '0',
        'vm-page-size': '32',
        'vm-pages': '134217728',
        'vm-max-threads': '4',
        'hash-max-zipmap-entries': '512',
        'hash-max-zipmap-value': '64',
        'list-max-ziplist-entries': '512',
        'list-max-ziplist-value': '64',
        'set-max-intset-entries': '512',
        'activerehashing': 'yes'
      }
    },

    'Ubuntu-14.04': {
      'save': True,
      'save_intervals': [ '900 1', '300 10', '60 10000' ],
      'client_output_buffer_limit': True,
      'client_output_buffer_limit_sections': [
        'normal 0 0 0',
        'slave 256mb 64mb 60',
        'pubsub 32mb 8mb 60'
      ],
      'configuration': {
        'daemonize': 'yes',
        'pidfile': '/var/run/redis/redis-server.pid',
        'port': '6379',
        'bind': '0.0.0.0',
        'timeout': '300',
        'loglevel': 'notice',
        'logfile': '/var/log/redis/redis-server.log',
        'databases': '16',
        'tcp-keepalive': '0',
        'stop-writes-on-bgsave-error': 'yes',
        'rdbcompression': 'yes',
        'rdbchecksum': 'yes',
        'dbfilename': 'dump.rdb',
        'dir': '/data/redis',
        'slave-serve-stale-data': 'yes',
        'slave-read-only': 'yes',
        'repl-disable-tcp-nodelay': 'no',
        'slave-priority': '100',
        'appendonly': 'no',
        'appendfilename': '"appendonly.aof"',
        'appendfsync': 'everysec',
        'no-appendfsync-on-rewrite': 'no',
        'auto-aof-rewrite-percentage': '100',
        'auto-aof-rewrite-min-size': '64mb',
        'lua-time-limit': '5000',
        'slowlog-log-slower-than': '10000',
        'slowlog-max-len': '128',
        'notify-keyspace-events': '""',
        'hash-max-ziplist-entries': '512',
        'hash-max-ziplist-value': '64',
        'list-max-ziplist-entries': '512',
        'list-max-ziplist-value': '64',
        'set-max-intset-entries': '512',
        'zset-max-ziplist-entries': '128',
        'zset-max-ziplist-value': '64',
        'activerehashing': 'yes',
        'hz': '10',
        'aof-rewrite-incremental-fsync': 'yes'
      }
    }

}, grain='osfinger', merge=salt['pillar.get']('redis',{})) %}
